body
  padding-top 70px

.takeaway
  cursor pointer
  padding 5px
  margin 5px
  background #B1AEEC
  font-size 1.75em

.takeaway:hover
  background #7672D8

.dish
  cursor pointer
  padding 5px
  margin 5px
  background #60D6A7
  font-size 1.75em

.dish:hover
  background #00AE68

.description
  font-size 0.75em
  color #555