<template name="home">
  {{#if currentUser}}
    <div class="pure-g">
      {{#if foodruns.count}}
        <div class="l-box pure-u-1 pure-u-md-1-2">
          <h2>Those are the foodruns allready on.</h2>
          <h4>Spare the hassle and just take part in one. Hmmmm, yum yum!</h4>
          {{#each foodruns}}
            <hr />
            <div class="l-box pure-u-1 pure-u-md-1-2">
              <h3>{{takeaway.name}}</h3>
              <p>{{takeaway.description}} <br />
                organized by: {{organizer.username}}</p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2">
              <a href="{{pathFor 'foodrun'}}">Show foodrun</a>
            </div>
          {{/each}}
        </div>
      {{/if}}
      <div class="l-box pure-u-1 pure-u-md-1-2">
        <h2>Do you want to start a foodrun?</h2>
        <h4>Great! go ahead and choose a takeaway you want to order food with:</h4>
        {{#each takeaways}}
          {{> takeawaysListItem}}
        {{/each}}
      </div>
    </div>
  {{else}}
    <div class="pure-g">
      <div class="l-box pure-u-1">
        <h1>This is <b>sattelite</b></h1>
        <h3>Log in to start a food run or to take part in one.</h3>
      </div>
    </div>
  {{/if}}
</template>

<template name="takeawaysListItem">
  <hr />
  <div class="pure-g">
    <div class="l-box pure-u-2-3">
      <h3>{{name}}</h3>
      <p>{{description}}</p>
    </div>
    <div class="l-box pure-u-1-3">
      <a href="{{pathFor 'takeaway'}}">Show takeaway</a>
      {{#if currentUser}}
        <br />
        <a class="startFoodrun" href="#">Start foodrun</a>
      {{/if}}
    </div>
  </div>
</template>
